<div class="container">
    <form #form="ngForm" (ngSubmit)="onFilterChange()">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-2 text-end p-1 fs-6">
                    ชื่อโครงการ :
                </div>
                <div class="col-4">
                    <input type="text" pInputText [(ngModel)]="servicePro.model.productName" name="productName" class="form-control w-75" autocomplete="on"  />    
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-end p-1 fs-6">
                    ผู้ขาย :
                </div>
                <div class="col-4">
                    <p-select [options]="serviceCus.modelList" [(ngModel)]="servicePro.model.cusId" name="customerId" [showClear]="true" optionLabel="name" optionValue="cusId" placeholder="--ทั้งหมด--" class="w-75 md:w-56" (onChange)="onFilterChange()" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-end p-1">
                    ผู้รับผิดชอบ :
                </div>
                <div class="col-4">
<p-select [options]="serviceEmp.modelList" [(ngModel)]="servicePro.model.empId" name="empId" [showClear]="true" optionLabel="name" optionValue="empId" placeholder="--ทั้งหมด--" class="w-75 md:w-56" (onChange)="onFilterChange()" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-end p-1 fs-6">
                    จำนวนเงินตั้งแต่ :
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <p-inputnumber inputId="price" [(ngModel)]="servicePro.model.price" name="price" styleClass="w-full" [inputStyle]="{'width':'100%'}" />
                    <span class="p-2">ถึง</span>
                    <p-inputnumber inputId="toPrice" [(ngModel)]="servicePro.model.toPrice" name="toPrice" [inputStyle]="{'width':'100%'}" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-end p-1 fs-6">
                    สถานะ :
                </div>
                <div class="col-4 d-flex justify-content-evenly align-items-center" style="margin-left: -3rem;">
                    <div class="form-check">
                        <label for="lb1" class="form-check-label">ใช้</label>
                        <input type="radio" [value]="0" id="lb1" class="form-check-input" (change)="onFilterChange()"
                            name="statusUser" [(ngModel)]="servicePro.model.status">
                    </div>
                    <div class="form-check">
                        <label for="lb2" class="form-check-label">ไม่ได้ใช้</label>
                        <input type="radio" [value]="1" class="form-check-input" (change)="onFilterChange()"
                            name="statusUser" id="lb2" [(ngModel)]="servicePro.model.status">
                        <!-- <p-radiobutton name="statusUser" value="1" [(ngModel)]="servicePro.model.status" inputId="lb2" (ngModelChange)="onFilterChange()" />     -->
                    </div>
                    <div class="form-check">
                        <label for="lb3" class="form-check-label">ยกเลิก</label>
                        <input type="radio" [value]="2" class="form-check-input" (change)="onFilterChange()"
                            name="statusUser" id="lb3" [(ngModel)]="servicePro.model.status">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 offset-2">
                    <button class="btn btn-outline-secondary w-25" type="submit">ค้นหา</button>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-success" (click)="addData()"><i class="fa-solid fa-plus"></i> เพิ่มรายการ</button>
                <span class="text-danger">ผลการค้นหาทั้งหมด  {{servicePro.modelList.length}}</span>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="container-fluid">
    <div class="card">
    <p-table
        [value]="servicePro.modelList"
        [paginator]="true"
        [rows]="10"
        showGridlines
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10, 15, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%">#</th>
                <th>ชื่อ</th>
                <th style="width:10%">ผู้ขาย</th>
                <th style="width:10%">ผู้รับผิดชอบ</th>
                <th style="width:10%">จำนวน</th>
                <th style="width:10%">ติดต่อ</th>
                <th style="width:10%">เบอร์โทร</th>
                <th style="width:10%">แก้ไข</th>
                <th style="width:10%">ลบข้อมูล</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr class="text-center">
                <td>{{i+1}}</td>
                <td>{{ item.productName }}</td>
                <td>{{ item.cusName}}</td>
                <td>{{ item.empName }}</td>
                <td>{{ item.price | number:'1.2-2'}}</td>
                <td>{{ item.contact }}</td>
                <td>{{ item.tel }}</td>
                <td><button class="btn btn-warning" (click)="dataEdit(item.productId)"><i class="fa-regular fa-pen-to-square"></i></button></td>
                <td><button class="btn btn-danger" (click)="dataDelete(item.productId,item)"><i class="fa-regular fa-trash-can"></i></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>